<div class="container-fluid">

	<h1>List of Products</h1>

<div class="row">
	<div class="col">
		  <%= render "products/search_bar" %>
	</div>
</div>

	<% @products.each do |product| %>
		<h3><%= link_to product.full_title, product %></h3>
	<% end %>

</div>

